<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Photography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="@Url.Content("~/assets/dist/development/css/styles.css")">
</head>
<body>
    <div class="template">
        <div class="container-fluid">
            <div class="row">
                <partial name="_Navigation" />
                @RenderBody()
                <partial name="_Footer" />
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/assets/dist/development/js/vendor/require.js")"></script>
    <script type="text/javascript">
        require.config({
            baseUrl: '/assets/dist/development/js'
        });
        require(['@Url.Content("~/assets/dist/development/js/main.js")'], function (main) {
            require(['modal']);
        });

    </script>
</body>
</html>
