.categoryListing {

    .listingContainer {
        margin:10px;
    }

    .listingBorder {
        border:1px #ddd solid;
    }

    .imageContainer {
        position: relative; 
        margin: 10px;
    }



    .enquiryContainer {
        margin:10px;
    }

}